body{
    background-color: rgb(126, 192, 195);
}
.int{
    background-color: orange;
    text-align: center;
    height: 90px;
    display: flex;
    justify-content: center
}

 .tag{ 
    display: flex;
    justify-content: center;
} 
.cr{
    width: 800px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
    display: inline-block;
}
.button{
    display: inline-block;
    height: 30px;
    margin-top: 30px;
    margin-left: 10px;
}
.ca{
    display: inline-block;
    margin-left: 30px;
    height: 30px;
    margin-top: 30px;
    
}
.reg{
    background-color: black;
    color: white;
    display: inline-block;
    height: 30px;
    width: 130px;
    margin-top: 0px;
}
.reg :hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: grey;
}
.cart{
    display: inline-block;
     object-position: bottom;
}
.a{
    display: inline-block;
 width: 250px;
 height: 250px;
 margin-left: 10px;
}
.ram{
   margin-left: 30px;
   margin-right: 30px;
}
.tr{
margin-left: 35px;
margin-top: 10px;
vertical-align: bottom;
}
.b{
    display: inline-block;
 width: 250px;
 height: 250px;
 margin-left: 10px;
 
}
.mah{
    margin-left: 30px;
    margin-right: 30px;
}
.tm{
    margin-left: 35px;
    margin-top: 10px;
}
.c{
    display: inline-block;
 width: 250px;
 height: 250px;
 margin-left: 10px;

}
.bha{
    margin-left: 30px;
    margin-right: 30px;
   
}
.tb{
    margin-left: 35px;
    margin-top: 10px;
   
}
.d{
    display: inline-block;
 width: 250px;
 height: 250px;
 margin-left: 10px;

}
.gur{
    margin-left: 30px;
    margin-right: 30px;
   
}
.tg{
    margin-left: 35px;
    margin-top: 10px;
   
}
.e{
    display: inline-block;
 width: 250px;
 height: 250px;
 margin-left: 10px;
 
}
.qur{
    margin-left: 30px;
    margin-right: 30px;
   
}
.tq{
    margin-left: 35px;
    margin-top: 10px;
    
}
.f{
    display: inline-block;
 width: 250px;
 height: 250px;
 margin-left: 10px;
 
}
.bib{
    margin-left: 30px;
   margin-right: 30px;
   
}
.tbi{
    margin-left: 35px;
    margin-top: 10px;
   
}
.g{
    display: inline-block;
 width: 250px;
 height: 250px;
 margin-left: 10px;
 
}
.mod{
    margin-left: 30px;
    margin-right: 30px;
}
.tmo{
    margin-left: 35px;
    margin-top: 10px;
}
.i{
    display: inline-block;
 width: 250px;
 height: 250px;
 margin-left: 10px;
}
.org{
    margin-left: 25px;
    margin-right: 30px;
}
.tor{
    margin-left: 35px;
    margin-top: 10px;
}
.j{
    display: inline-block;
 width: 250px;
 height: 250px;
 margin-left: 10px;
 
}
.env{
    margin-left: 30px;
    margin-right: 30px;
}
.ten{
    margin-left: 35px;
    margin-top: 10px;
}
.k{
    display: inline-block;
 width: 250px;
 height: 250px;
 margin-left: 10px;
}
.geo{
    margin-left: 30px;
    margin-right: 30px;
}
.tge{
    margin-left: 35px;
    margin-top: 10px;
}